@include font-face("Hind-Bold", "../../fonts/Hind-Bold");
@include font-face("Hind-Light", "../../fonts/Hind-Light");
@include font-face("Hind-Medium", "../../fonts/Hind-Medium");
@include font-face("Hind-Regular", "../../fonts/Hind-Regular");
@include font-face("Hind-SemiBold", "../../fonts/Hind-SemiBold");

body{
    font-family: 'Hind-Regular';
}

h1{
    font-family: 'Hind-Bold';
    color: $textColor;
    font-size: 70px;
    text-align: center;
}

p{
    font-size: 14px;
    font-family: 'Hind-SemiBold';
    line-height: 20px;

    &.project-subtitle{
        margin: 5px 20px 0 80px;
    }
}

a{
    font-family: 'Hind-Medium';
    font-size: 16px;
}

.header-subtitle{
    text-align: center;
    font-size: 22px;
}

.name{
    font-family: 'Hind-Bold';
    font-size: 20px;
    border-bottom: 2px solid $gold;
}

.nav-link{
    color:white;
    font-size: 14px;
    transition: all .3s;

    &:hover{
        color: $gold;
    }
}

.mode{
    font-size: 12px;
}

.projects-link{
    font-family: 'Hind-SemiBold';

    .vertical-line {
        width: 2px;
        height: 75px;
        background-color: $gold;
        margin: auto;
    }
    
    &:hover{
        text-decoration: none;
    }
}

.section-title{
    height: 250px;
    @include titleH2($blockTitleColor, 76px, 20px);
}



.single-project-block .project-info-block,
.modal-content {

    .block-title{

        @include titleH2($blockTitleColor, 70px, 16px);


    }
}

.single-project-block:nth-child(odd) .project-info-block .block-title{
     @include titleH2(white, 70px, 16px);
}




