header{
    height: 100vh;
    background-color: $dark;
    color: white;

    nav.navbar, 
    #hero{
        padding: 0 3%;
    }

    nav.navbar{
        
        height: 80px;
        ul.navbar-nav{
            width: 40%;
        }
    }

    .social-media{
        a img{
            width: 25px;
        }
    }

    #hero{
        height: calc( 100vh - 80px );
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .toggle-switch{
            align-self: flex-start;
        }
        
        .title-section{
            
        }

        .projects-link{
            text-align: center;

        }

    }




  
}