header{
    min-height: 100vh;
    background-color: $dark;
    color: white;

    nav.navbar, 
    #hero{
        padding: 0 3%;
    }

    nav.navbar{
        
        height: 80px;
        ul.navbar-nav{
            width: 40%;
        }
    }

    .social-media{
        a img{
            width: 25px;
        }
    }
  
}