.single-project-block{
    height: 20vw;
    background-color: $grey;
    overflow: hidden;

    @include respond(tab-land){
        height: 25vw;
    }

    @include respond(tab-port){
        height: 45vw;
    }

    @include respond(phone){
        height: auto;
    }

    &:nth-child(even){
        flex-direction: row-reverse;
        background-color: white;
    }

    .image-block{
        background-size: cover;
        background-position: center;

        @include respond(phone){
            height: 40vw;
        }
    }

    .project-info-block{
        padding: 4vw;

        @include respond(tab-port){
            padding: 8vw 4vw;
        }

        .buttons{
           margin-top: 2vw;
           text-align: right;

           @include respond(tab-port){
               text-align: left;
               margin-left: 15px;
               margin-top: 3vw;
               display: flex;
               flex-direction: column;
           }

           @include respond(tab-sm){
               margin-top: 2vw;
           }

           @include respond(phone){
               margin-left: 0;
           }
        }
    }
}