<header class="container-fluid p-0">

    <nav class="navbar navbar-expand-lg justify-content-between">
        <div class="name">Anett DAVID</div>
        <ul class="navbar-nav justify-content-around p-0">
            <li class="nav-item"><a class="nav-link" href="#projects">Projets</a></li>
            <li class="nav-item"><a class="nav-link" href="#presentation">à propos</a></li>
            <li class="nav-item"><a class="nav-link" href="#education">formations</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">contact</a></li>
        </ul>

        <div class="social-media">
            <a class="mr-2" href="https://github.com/Anett67" target="_blank"><img src="{{ asset('build/images/github_white.png') }}" alt="Lien Profil GitHub"></a>
            <a href="https://www.linkedin.com/in/anett-david-1b280076" target="_blank"><img src="{{ asset('build/images/linkedin_white.png') }}" alt="Lien Profil LinkedIn"></a>
        </div>

    </nav>

    <section id="hero" >

        <div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="title-section">
            <h1>Bonjour, <span class="text-white">je suis Développeuse</span> Web</h1>
            <p>Je m'appelle Anett. Bienvenu sur mon site.</p>
        </div>

        <a href="#projects" class="projects-link">
            Mes projets
            <div></div>
        </a>
    
    </section>

</header>