<header class="container-fluid">

    <nav class="w-100 row">
        <div class="name">Anett DAVID</div>
        <ul>
            <li>Projets</li>
            <li>à propos</li>
            <li>formations</li>
            <li>contact</li>
        </ul>

        <div class="social-media">
            <a href="https://github.com/Anett67" target="_blank"><img src="{{ asset('build/images/github_white.png') }}" alt="Lien Profil GitHub"></a>
            <a href="https://www.linkedin.com/in/anett-david-1b280076" target="_blank"><img src="{{ asset('build/images/linkedin_white.png') }}" alt="Lien Profil LinkedIn"></a>
        </div>
        
    </nav>

    <section id="hero" >

        <div>
            Night mode switch
        </div>

        <div class="title-section">
            Titre principal
        </div>

        <div class="projects-link">
            Project Link
        </div>
    
    </section>

</header>