<section id="projects" class="container">

    <div class="section-title block-title d-flex align-items-center">
        <div class="horizontal-line mr-4"></div>
        <h2 class="m-0 text-uppercase">Projets
            <span>Mes Projets</span>
        </h2>   
    </div>

</section>